{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="row justify-content-start mt-3">
    <div class="offset-xl-1 col-sm-3">
        <form method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-4">
                {{ form.m1|as_crispy_field }}
              </div>
              <div class="col-4">
                {{ form.m2|as_crispy_field }}
              </div>
              <div class="col-4">
                {{ form.m|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                {{ form.T1|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.T2|as_crispy_field }}
              </div>
            </div>
            {{ form.S_table|as_crispy_field }}


            <button type="submit" class="btn btn-success">Начать</button>
        </form>
    </div>
    <div class="col-sm-8 text-center">
         <div class="row">
             <div class="offset-xl-1 font-weight-bold text-left">
                 m₁ = {% if m1 %} <span id="m1"> {{ m1 }} </span> {% endif %} <br>
                 m₂ = {% if m2 %} <span id="m2"> {{ m2 }} </span> {% endif %} <br>
                 m  = {% if m %} <span id="m"> {{ m }} </span> {% endif %} <br>
                 T₁ = {% if T1 %} <span id="T1"> {{ T1 }} </span> {% endif %} <br>
                 T₂ = {% if T2 %} <span id="T2"> {{ T2 }} </span> {% endif %} <br>
                 S = {% if S_table %} <span id="S_table"> {{ S_table }} </span> {% endif %} <br>
             </div>
            <div class="col-8">
                {{ result }}
            </div>
         </div>
    </div>
<!--    если надо добавить фото, то нужно залить фото в static/img/example.jpg -->
<!--    <img class="w-50 mx-auto d-block" src="{% static 'img/example.jpg' %}" alt="photo">-->
</div>

<!--скрипт для этой странице пишем в index.js-->
<script src="{% static 'js/index.js' %}"></script>

{% endblock %}
